body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* --- Утіліти --- */
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* --- HEADER --- */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  color: #4d5ae5;
}

.bit-logo {
  color: #2e2f42;
}

.footer-logo {
  margin-right: 0;
}

.menu-nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

.contacts {
  margin-left: auto;
}

.contacts-list {
  display: flex;
  font-style: normal;
  gap: 40px;
}

.contacts-link {
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 24px 0;
}

.menu-link {
  padding: 24px 0;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* --- HERO --- */
.hero {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-image: linear-gradient(#2e2f42b2, rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;

  color: #ffffff;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;

  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* --- OUR ADVANTAGES --- */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;

  color: #2e2f42;
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --- TEAM --- */
.team {
  background-color: #f4f4fd;
}

.team-title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.description-team {
  text-align: center;
  padding: 32px 0;
}

.team-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.team-name {
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --- PORTFOLIO --- */
.portfolio-title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
}

.portfolio-link {
  display: block;
}

.portfolio-link:hover,
portfolio-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-description {
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --- FOOTER --- */
.page-footer {
  padding: 100px 0;
}

.page-footer {
  background-color: #2e2f42;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;

  color: #4d5ae5;
}

.bitf-logo {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;

  color: #f4f4fd;
}
